# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Project specific
/client/node_modules/
/client/.next/
/client/out/
/client/build/
/client/.env*

/server/bin/
/server/tmp/
/server/vendor/
/server/.env

# Docker logs
*.log
docker-compose.override.yml

# Infrastructure
infra/data/
infra/logs/
