# Database
# search_path=milktea ensures all queries use our dedicated schema
DATABASE_URL=postgres://user:password@db:5432/milktea?sslmode=disable&search_path=milktea

# Server
PORT=8080
GIN_MODE=release

# Redis (for Caching & WS Hub)
REDIS_URL=redis:6379
